# Microsoft Graph API Credentials
AZURE_CLIENT_ID=<Your Azure App Client ID>
AZURE_CLIENT_SECRET=<Your Azure App Client Secret>
AZURE_TENANT_ID=<Your Azure Tenant ID>

# MongoDB Connection (default)
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=standup_analytics

# Microsoft Graph API Scope (default)
GRAPH_SCOPE=https://graph.microsoft.com/.default

BACKEND_URL=http://localhost:8000
